.custom-shape-divider-bottom-1630784087 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630784087 svg {
	position: relative;
	display: block;
	width: calc(222% + 1.3px);
	height: 345px;
}

.custom-shape-divider-bottom-1630784087 .shape-fill {
	fill: #12b376;
}
